@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

html{
    height: auto;
    min-height: 100vh;
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background: url(https://lookimg.com/images/2025/04/16/Z9MZFV.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1, h2{
    font-family: "Special Gothic Expanded One", sans-serif;
}
h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.5rem;
}

/* Hero or Main */
main{
    min-width: 13rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main .hero{
    width: 90vw;
    height: auto;
    margin: 6rem 0 0 0;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.725);
    border-radius: 5rem 0 5rem 0;
}
.web-title h1{
    color: var(--secondary-500);
}

.button{
    font-family: "Special Gothic Expanded One", sans-serif;
    background-color: #337f5d;
    color: var(--text-50);
    border: none;
    padding: 0.5rem 2rem;
    margin: 3rem 0;
    border-radius: 99999rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover{
    background-color: var(--primary-500);
}
.button:active{
    transform: scale(0.9);
}

/* About */
.about{
    color: rgb(232, 244, 255);
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#5bbbb0f0,#54c271f0);
}
.about div{
    width: 80vw;
}

.about-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 2rem 0;
}
.about-title img{
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin: 0;
    object-fit: cover;
}

/* Category */
.categories{
    color: #337f5d;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: -2px 2px 10px #00000030;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.category-list{
    width: 90vw;
    display: grid;
    grid-template-columns: calc(100vw/3 - 1rem) calc(100vw/3 - 1rem) calc(100vw/3 - 1rem);
    grid-template-rows: calc(100vw/3 + 1rem) calc(100vw/3 + 1rem) calc(100vw/3 + 1rem);
    gap: 1rem 0 ;
    margin: 3rem 0;
    justify-items: center;
}
.category-item{
    width: calc(100vw/3 - 1.5rem);
    height: calc(100vw/3 - 1.5rem);
    margin: 0 0 4rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.category-item h3{
    margin: 0.5rem;
    color: #eda03d;
}

.category-image{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    margin: 0;
    object-fit: cover;
}

/* Merch Section */
.merchandise{
    color: rgb(232, 244, 255);
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#5bbbb0f0,#54c271);
}
.merchandise div{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 412px) {
    :root{
        font-size: medium;
    }

    h1{
        font-size: 2.1rem;
    }
}

@media (min-width: 512px) {

    .about{
        height: 25rem;
    }
    .categories{
        height: 40rem;
    }
    .category-list{
        grid-template-columns: calc(100vw/4 - 1rem) calc(100vw/4 - 1rem) calc(100vw/4 - 1rem) calc(100vw/4 - 1rem);
        grid-template-rows: calc(100vw/4 + 1rem) calc(100vw/4 + 1rem);
    }
    .category-item{
        width: calc(100vw/4 - 1.5rem);
        height: calc(100vw/4 - 1.5rem);
    }
}

@media (min-width: 768px) {
    :root{
        font-size: large;
    }
    main .hero{
        min-width: auto;
        max-width: 60rem;
    }
    h1{
        font-size: 4rem;
    }
    
    .categories{
        height: 30rem;}
    .category-list{
        grid-template-columns: calc(100vw/8 - 1rem) calc(100vw/8 - 1rem) calc(100vw/8 - 1rem) calc(100vw/8 - 1rem) calc(100vw/8 - 1rem) calc(100vw/8 - 1rem) calc(100vw/8 - 1rem);
        grid-template-rows: calc(100vw/8 + 1rem);
    }
    .category-item{
        width: calc(100vw/8 - 1.5rem);
        height: calc(100vw/8 - 1.5rem);
    }
}