@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    font-size: small;
    transition: all 0.3s ease-in-out;
}

.navbar{
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--text-500);
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    margin: 0;
    padding: 2rem;
    background: linear-gradient(#205b40, #247350);
    z-index: 1;
}
.nav-list{
    display: none;
    list-style: none;
    width: 12rem;
    padding: 0;
    top: 2rem;
    right: 20px;
    position: absolute;
    flex-direction: column;
    background-color: var(--primary-50);
    border-radius: 0.5rem;
    z-index: 1;
}
.nav-list a{
    text-decoration: none;
    color: var(--text-700);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    transition: all 0.1s ease-in-out;
}

.nav-list a:hover{
    background-color: var(--accent-100);
    scale: 1.025;
    color: var(--text-70);
    border-radius: 0.5rem;
}

/* logo */
.logo{
    height: 4em;
    object-fit: contain;
    padding: 0.3rem 0 ;
    cursor: pointer;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}

/* The hamburger menu */
.hamburger-button{
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: var(--text-500);
}
.hamburger-underlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(1.4px);
    z-index: 1;
}

/* footer */
.footer-content{
    font-family: "Nunito", sans-serif;

    width: 100vw;
    min-height: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-400);
}
.footer-content a{
    font-size: 1rem;
    font-weight: 400;
}
.footer-content h3{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--text-800);
}

.footer-social-media{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 412px) {
    :root{
        font-size: medium;
    }
}
@media screen and (min-width: 768px) {
    :root{
        font-size: large;
    }

    .hamburger-menu{
        display: none;
        cursor: pointer;
        font-size: large;
        color: var(--text-50);
    }

}