@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

:root{
    font-family: "Special Gothic Expanded One", sans-serif;
    transition: all 0.3s ease-in-out;
}

.navbar{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--text-500);
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    margin: 0;
    padding: 2rem;
    background-color: var(--background-100);
    z-index: 1;
}
.nav-list{
    display: none;
    list-style: none;
    width: 12rem;
    padding: 0;
    top: 2rem;
    right: 20px;
    position: absolute;
    flex-direction: column;
    background-color: var(--primary-50);
    border-radius: 0.5rem;
    z-index: 1;
}
.nav-list a{
    text-decoration: none;
    color: var(--text-700);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.logo{
    height: 4rem;
    object-fit: contain;
    padding: 0.3rem 0 ;
    cursor: pointer;
}
.logo img{
    height: 100%;
    width: 100&;
    object-fit: contain;
}

/* The hamburger menu */
.hamburger-button{
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: var(--text-500);
}
.hamburger-underlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(1.4px);
    z-index: 1;
}


@media screen and (min-width: 768px) {
    .hamburger-menu{
        display: none;
        cursor: pointer;
        font-size: 30px;
        color: var(--text-50);
    }

}